.container {
  flex: 1 1 300px;
}

.flowerName {
  font-size: 18px;
  font-weight: 700;
  font-style: bold;
  line-height: 140%;
  margin: 0;
}

.price {
  color: #575757;
  font-size: 15px;
  font-weight: 700;
  font-style: bold;
  line-height: 140%;
  letter-spacing: -2.5%;
  text-align: center;
  margin: 0;
}

.image {
  height: 330px;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center 30%;
  border-radius: 30px;
}

.productInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-bottom: 15px;
  gap: 6px;
}
