@font-face {
    font-family: 'Caprasimo';
    src: url('src/assets/fonts/Caprasimo/Caprasimo-Regular.ttf') format('truetype');
    font-weight: 100, 900;
}

@font-face {
    font-family: 'Outfit';
    src: url('src/assets/fonts/Outfit/Outfit-VariableFont_wght.ttf') format('truetype');
    font-weight: 100, 900;
}

:root {
  --text: #2C2825;
  --text-h: #2C2825;
  --bg: #FFFFFF;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @media (max-width: 1024px) {
    font-size: 16px;
  }
  padding-left: 40px;
  padding-right: 40px;
}



body {
  margin: 0;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--text);
}

ul {
  list-style-type: none;
}

h1 {
  font-family: Outfit;
  font-weight: 700;
  font-style: bold;
  color: #171615;
  font-size: 50px;
  line-height: 110%;
  letter-spacing: -2%;
  text-align: center;
}

h2 {
  font-family: Outfit;
  font-weight: 700;
  font-style: bold;
  color: #171615;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: -2.5%;
  text-align: center;
}

p {
  font-family: Outfit;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: -2.5%;
  text-align: center;
}

.caption {
  font-family: Outfit;
  font-weight: 700;
  font-style: bold;
  color: #575757;
  line-height: 140%;
  letter-spacing: 2%;
  text-align: center;
}

#logoImg{
  margin: 0;
  padding-top: 68px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 44px;
}


